<ion-view view-title="알림판">
  <ion-content>
    <ion-refresher
        pulling-text="로딩중..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
      <div class="item item-icon-left" ng-if="notice.length > 0">
        <h2>공지사항</h2>
        <p class="multiline-p">{{notice}}</p>
        <i class="icon ion-ios-information-outline"></i>
      </div>

      <div class="item item-divider" ng-if="header.length > 0">
        <i class="icon ion-quote"></i>
        {{header}}
      </div>

      <div class="item" ng-if="notis.length == 0">
        <p class="multiline-p text-center">
        강의 상세 페이지에서 즐겨찾기<i class="icon ion-star"></i>를 해주세요!!
        </p>
      </div>

      <li class="item item-icon-right" ng-repeat="noti in notis track by noti.id">
        <h2 ng-if="noti.lecture">{{::noti.lecture.course.name}}, {{::noti.lecture.instructor.name}}</h2>
        <p>{{::noti.content}}</p>
        <i class="icon icon-accessory last-history">
          <span class="item-note" am-time-ago="noti.created_at | toTime"></span>
        </i>
      </li>
    </div>
  </ion-content>
</ion-view>
