<ion-view title="샤이썬">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list">
      <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        예시 이미지 TODO
      </div>
      <div class="spacer" style="height: 40px;"></div>
      <button class="button button-positive button-block  icon" ng-click="start()">시작하기</button>
    </form>
  </ion-content>
</ion-view>
