<ion-modal-view ng-controller="LectureDetailCtrl" ng-init="init()">
  <ion-header-bar class="bar-positive fix-buttons">
    <a class="button back-button" ng-click="close()">
      <i class="icon ion-close"></i>
    </a>
    <h1 class="title">{{lecture.course.name}} - {{lecture.instructor.name}}</h1>
    <a class="button button-icon back-button" ng-class="{'ion-ios-star-outline': !lecture.isBookmarked, 'ion-ios-star': lecture.isBookmarked}" ng-click="toggle(lecture.id)"></a>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="scroll">
      <div class="item item-icon-left" ng-if="notice.length > 0">
        <h2>공지사항</h2>
        <p class="multiline-p">{{notice}}</p>
        <i class="icon ion-ios-information-outline"></i>
      </div>

      <div ng-if="lecture.drop_str.length > 0" class="drop-str">
        <h2 class="assertive text-center">{{lecture.drop_str}}</h2>
        <p class="text-center">{{lecture.max_current}}명 -> {{lecture.current}}명</p>
      </div>

      <h4><ng-quota cur="{{lecture.current}}" quota="{{lecture.current_quota}}">현재 {{lecture.current}}명</ng-quota> / 정원 {{lecture.quota}}명<span ng-if="lecture.quota != lecture.current_quota">(재학생 {{lecture.current_quota}}명)</span></h4>
      <p></p>

      <div class="button-bar bar-stable lecture-detail">
        <a class="button" ng-class="{'button-positive': tab==1}" ng-click="tabChanged(1)">통계</a>
        <a class="button" ng-class="{'button-positive': tab==2}" ng-click="tabChanged(2)">정보</a>
      </div>

      <div class="list" ng-if="tab == 1">
        <li class="item item-divider">
        즐겨찾기 등록한 사람<span ng-if="lecture.bookmarkCount > 0.1 * lecture.quota" class="assertive">이 너무 많아요 :(</span>
        </li>
        <li class="item">{{lecture.bookmarkCount}}명</li>
        <li class="item item-divider" ng-if="similar_lectures.length > 0">
          {{similar_header}}
        </li>
        <li class="item item-icon-right" ng-repeat="l in similar_lectures track by l.id" ng-click="showLecture({{::l.id}})">
          <h2>{{::($index + 1)}}. {{::l.course.name}}, {{::l.instructor.name}}</h2>
          <p>신청현황 <ng-quota cur="{{::l.current}}" quota="{{::l.current_quota}}">{{::l.current}}/{{::l.quota}}<span ng-if="::(l.quota != l.current_quota)">(재학생 {{::l.current_quota}}명)</span></ng-quota>, {{::l.course.code}}({{::l.code}})</p>
          <i class="icon icon-accessory last-history">
            <span class="item-note" am-time-ago="l.last_history.created_at | toTime"></span>
          </i>
          <i class="icon ion-chevron-right icon-accessory">
          </i>
        </li>
        <li class="item item-divider">
          최근 변동 사항
        </li>
        <li class="item" ng-if="lecture.lecture_histories.length == 0">
          데이터 없음
        </li>
        <li class="item" ng-repeat="h in lecture.lecture_histories track by h.id">
          <p class="multiline-p">{{::h.content}}</p>
          <span am-time-ago="h.created_at | toTime"></span> 
        </li>
      </div>
      <div class="list" ng-if="tab == 2">
        <li class="item item-divider">
          교과목번호(강좌번호)
        </li>
        <li class="item">
          [{{lecture.course.course_type | courseType2Str }}, {{lecture.course.credit}}학점] {{lecture.course.code}}({{lecture.code}})
        </li>
        <li class="item item-divider">
          주담당교수
        </li>
        <li class="item">
          {{lecture.instructor.name}}({{lecture.instructor.department.name}}, {{lecture.instructor.college.name}})
        </li>
        <li class="item item-divider" ng-if="lecture.lang.length > 0">
          강의 언어
        </li>
        <li class="item" ng-if="lecture.lang.length > 0">
          {{lecture.lang}}
        </li>
        <li class="item item-divider">
          강의 대상(권장)
        </li>
        <li class="item">
        {{lecture.course.status}}<span ng-if="lecture.course.academic_year > 0">({{lecture.course.academic_year}}학년)</span>
        </li>
        <li class="item item-divider" ng-if="lecture.remark.length > 0">
         비고
        </li>
        <li class="item" ng-if="lecture.remark.length > 0">
          <p class="multiline-p">{{lecture.remark}}</p>
        </li>
        <li class="item item-divider">
          강의실 / 시간
        </li>
        <li class="item" ng-repeat="time in lecture.time_arr track by $index">
          {{::lecture.location_arr[$index]}} / {{::time}}
        </li>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-stable bar bar-footer has-tabs">
    <button class="button" ng-click="openLecture(lecture)">
      수강편람보기
    </button>
    <button class="button" ng-click="sendMail(lecture)">
      <span ng-class="{'assertive': lecture.bookmarkCount > 0.1 * lecture.quota}"><strong>초안지쓰기</strong></span>
    </button>
    <button class="button" ng-click="registerLecture(lecture)">
      수강신청하기
    </button>
  </ion-footer-bar>
</ion-modal-view>