<ion-view view-title="즐겨찾기" cache-view="false">
  <ion-content>
    <div class="list">
      <div class="item item-divider" ng-show="header.length > 0">
        {{header}}
      </div>

      <a class="item item-icon-right" ng-repeat="lecture in lectures" href="#/tab/bookmark/lectures/{{lecture.id}}">
        <h2>{{$index + 1}}. {{lecture.course.name}}, {{lecture.instructor.name}}</h2>
        <p>신청현황 <span>{{lecture.current}}/{{lecture.quota}}</span>, {{lecture.course.code}}({{lecture.code}})</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
