<ion-view view-title="즐겨찾기" cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button" href="#/tab/bookmark/hot">HOT</a>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
        pulling-text="로딩중..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
      <div class="item item-icon-left" ng-if="notice.length > 0">
        <h2>공지사항</h2>
        <p class="multiline-p">{{notice}}</p>
        <i class="icon ion-ios-information-outline"></i>
      </div>

      <div class="item item-divider" ng-if="header.length > 0">
        {{header}}
      </div>

      <div class="item" ng-if="lectures.length == 0">
        <p class="multiline-p text-center">
        강의 상세 페이지에서 즐겨찾기<i class="icon ion-star"></i>를 해주세요!!
        </p>
      </div>

      <a class="item item-icon-right" ng-repeat="lecture in lectures track by lecture.id" ng-click="showLecture({{::lecture.id}})">
        <h2>{{::($index + 1)}}. {{::lecture.course.name}}, {{::lecture.instructor.name}}</h2>
        <p>신청현황 <ng-quota cur="{{::lecture.current}}" quota="{{::lecture.current_quota}}">{{::lecture.current}}/{{::lecture.quota}}<span ng-if="::(lecture.quota != lecture.current_quota)">(재학생 {{::lecture.current_quota}}명)</span></ng-quota>, {{::lecture.course.code}}({{::lecture.code}})</p>
        <i class="icon icon-accessory last-history">
          <span class="item-note" am-time-ago="lecture.last_history.created_at | toTime"></span>
        </i>
        <i class="icon ion-chevron-right icon-accessory">
        </i>
      </a>

      <div class="item" ng-if="recommend_header.length > 0">
      </div>

      <div class="item item-divider" ng-if="recommend_header.length > 0">
        {{recommend_header}}
      </div>

      <a class="item item-icon-right" ng-repeat="lecture in recommend_lectures track by lecture.id" ng-click="showLecture({{::lecture.id}})">
        <h2>{{::($index + 1)}}. {{::lecture.course.name}}, {{::lecture.instructor.name}}</h2>
        <p>신청현황 <ng-quota cur="{{::lecture.current}}" quota="{{::lecture.current_quota}}">{{::lecture.current}}/{{::lecture.quota}}<span ng-if="::(lecture.quota != lecture.current_quota)">(재학생 {{::lecture.current_quota}}명)</span></ng-quota>, {{::lecture.course.code}}({{::lecture.code}})</p>
        <i class="icon icon-accessory last-history">
          <span class="item-note" am-time-ago="lecture.last_history.created_at | toTime"></span>
        </i>
        <i class="icon ion-chevron-right icon-accessory">
        </i>
      </a>
    </div>
  </ion-content>
</ion-view>
